<a href="https://colab.research.google.com/github/AUT-Student/SML-HW2/blob/main/SML_HW2_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><b>In the name of God</b></center>

<b>Course</b>: Statistical Machine Learning
<br>
<b>Description:</b> HomeWork 2 | Question 2
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
!gdown 1C3-EiTRDvlFGY_IdBNsb_ixlVlyq6mCp
!unzip /content/SML_HW2_dataset.zip
!unzip /content/Datasets/old\ Faithful.zip

Downloading...
From: https://drive.google.com/uc?id=1C3-EiTRDvlFGY_IdBNsb_ixlVlyq6mCp
To: /content/SML_HW2_dataset.zip
100% 14.0k/14.0k [00:00<00:00, 19.4MB/s]
Archive:  /content/SML_HW2_dataset.zip
   creating: Datasets/
   creating: Datasets/earthquake fiji/
  inflating: Datasets/earthquake fiji/details.txt
  inflating: Datasets/earthquake fiji/quakes.csv
  inflating: Datasets/old Faithful.zip
Archive:  /content/Datasets/old Faithful.zip
  inflating: faithful.csv

In [3]:
dataset = pd.read_csv("/content/faithful.csv", index_col=0)

In [4]:
dataset

     eruptions  waiting
1        3.600       79
2        1.800       54
3        3.333       74
4        2.283       62
5        4.533       85
..         ...      ...
268      4.117       81
269      2.150       46
270      4.417       90
271      1.817       46
272      4.467       74

[272 rows x 2 columns]

In [5]:
eruptions = dataset["eruptions"].values

In [6]:
def bootstrap(samples, g, B=100):
  T_stars = []
  n = len(samples)
  for _ in range(B):
    bootstrap_samples = np.array(random.choices(samples, k=n))
    T_star = g(bootstrap_samples)
    T_stars.append(T_star)

  T_stars = np.array(T_stars)
  bootstrap_variance = T_stars.var()

  return bootstrap_variance

In [10]:
print(f"Mean: {eruptions.mean()}, std of Mean = {bootstrap(eruptions, np.mean)**0.5}")

Mean: 3.4877830882352936, std of Mean = 0.06851756937103695

In [12]:
print(f"Median: {np.median(eruptions)}, std of Median = {bootstrap(eruptions, np.median)**0.5}")

Median: 4.0, std of Median = 0.07779879481714358